
body {
    background-color: rgba(157, 175, 194,0.05);
  }
  h1, h2, h3 {
    line-height: 1.15;
  }
  :root {
    --text-bg-color: rgba(100, 115, 130, 0.11);
    --title-text-color: rgba( 79, 82, 96);
    --content-text-color: rgba( 112, 115, 128  );
  }
  
  
  
  
  
  .top-margin {  
    margin-top: 2em;
    padding: 1em;
  }
  
  .info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
  }
  
  .info-image {
    flex: 1;
    height: 77vh;
    margin-right: 4vh;
    background-image: url('../png/AboutPage/DudeExplaining.png');
    background-size: contain;
    background-repeat: no-repeat;  
    background-position: center;
  }
  
  .info-content {
    flex: 1;
    background-color: var(--text-bg-color);  
    color: rgb(0, 0, 0);
    padding: 3vh 5vw 3vh 3vw;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    align-items: start;  
  }
  
  .info-content h1 {
    font-size: 3.5em;
    color: var(--title-text-color);
    font-family: Evolventa-Bold;
  }
  
  .info-content p {
    font-size: 2.2em;
    color: var(--content-text-color);
  }
  
  
  
  .btn-read-more {  
    background-color: var( --btn-bg-color);
    color: var(--main-content-text-color);
    font-size: 1.5em;
    position: inherit;
    margin-top: 2.5%;
    margin-left: 5%;
    padding: 1em 3em;
    text-decoration: none; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 100%; 
  
  }
  
  .btn-read-more:active,
  .btn-read-more:focus,
  .btn-read-more:hover {
    background-color: var(--btn-bg-hover-color);
  }
  
   
  .background {
    background-image: url('../png/ServicesPage/background.png');
    background-size: cover;
    background-position: center;
    height: 45vh;
    position: relative;
}

.mission-title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: #fff;
}
.image-row {
  display: flex;
  justify-content: space-between;   
  align-items: center;
  position: absolute;
  bottom: 10%;
  width: 80%;   
}

.image-row img {
  margin-left: 4vw;
  margin-right: 4vw;
  width: 30%;  
}











.bottom-section {
  text-align: center;
  padding: 2em 0;
}

.bottom-section h1 {
  font-size: 4em;
  margin-bottom: 1em;
}

.grey-box {
  flex: 1;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  background-color:  var(--text-bg-color);  
  color: rgb(0, 0, 0);
  padding: 7vh 3vw 3vh 3vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.text-section {
  flex-grow: 1;  /* Added this line to make it grow and push the image to the right */
  text-align: left;
}

.text-section h2 {
  
  color: var(--title-text-color);
  font-family: Evolventa-Bold;
  font-size: 3em;
}

.text-section p {
  font-size: 2.1em;
  margin: 3vh 0vw 12vh 1vw;
  
  color: var(--content-text-color);
}


 
.btn-view-members {
  background-color: var( --btn-bg-color);
  color: var(--main-content-text-color);
  font-size: 1.5em;
  position: inherit;
  margin-top: 2.5%;
  padding: 1em 3em;
  text-decoration: none; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 100%; 
}



.btn-view-members:active,
.btn-view-members:focus,
.btn-view-members:hover {
  background-color: var(--btn-bg-hover-color);
}

.image-section img {
  width: 25vw;
}



