body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}



.login-form {
    max-width: 40vw;
    margin: 5vw auto;
    padding: 2vw;
    border: 0.1vw solid #ccc;
    background-color: #fff;
    border-radius: 0.5vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
}

.login-form div {
    margin-bottom: 15vh;
}

.login-form label {
    display: block;
    margin-bottom: 5vh;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 1vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.5vw;
}

.login-form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1vw 1.5vh;
    border-radius: 0.5vw;
    width: 100%;
}

.blog-container {
    max-width: 80vw;
    margin: 5vw auto;
    padding: 2vw;
}

.blog-post {
    background-color: #fff;
    padding: 2vw;
    margin-bottom: 2vwh;
    border: 0.1vw solid #ccc;
    border-radius: 0.5vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
}
