body {
    background-color: rgba(157, 175, 194,0.05);
  }
  h1, h2, h3 {
    line-height: 1.15;
  }
  :root {
    --text-bg-color: rgba(100, 115, 130, 0.11);
    --title-text-color: rgba( 79, 82, 96);
    --content-text-color: rgba( 112, 115, 128  );
  }
  
  
  
  
  
  .top-margin {  
    margin-top: 2em;
    padding: 1em;
  }
  
  .info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
  }
  
  .info-image {
    flex: 1;
    height: 77vh; 
    margin-left: 4vh;
    background-image: url('../png/BlogPage/guyTyping.png');
    background-size: contain;
    background-repeat: no-repeat;  
    background-position: center;
  }
  
  .info-content {
    flex: 1;
    background-color: var(--text-bg-color);  
    color: rgb(0, 0, 0);
    padding: 5vh 20vw 5vh 10vw;
    margin-right: 4vh;
  }
  
  .info-content h1 {
    font-size: 4.5em;
    color: var(--title-text-color);
    font-family: Evolventa-Bold;
  }
  
  .info-content p {
    font-size: 2.1em;
    color: var(--content-text-color);
  }


.category-toggle
{
  margin-left: 5%;
  font-family: Roboto-Bold;
  font-size: 2em;
  color: var(--title-text-color);
}






.category-btn {  
  background-color: #FFFFFF;  
  color: var( --title-text-color);;  
  border: 0.2vw solid var( --title-text-color);
  padding: 0.5vh 1vw;  
  border-radius: 25%;  
  text-align: center; 
  display: inline-block;
  font-size: 1em;  
  
  white-space: nowrap; 
}

.category-btn:hover,
.category-btn.active 
{
    background-color:var( --title-text-color);
    color: white;
}








  

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 10%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.close-btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}




#imageContainer {
  position: relative;
  display: inline-block;
}

#removeImageButton {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 2px 5px;
}
#currentPostImage {
  max-width: 6vw;
  max-height: 6vw;
  display: block;
  margin: 10px 0;
}










.blog-section {
  text-align: center;
  margin-top: 5vh;
}

.blog-box {
  background-color:var(--text-bg-color); 
  margin: 2vh auto;
  width: 100%;
  position: relative;
}






.post {
}
.post-all
{
  display: flex;
  flex-direction: row;  
  justify-content: start; /* Align to the start */
  align-items:center;
  margin: 2vh auto;
  font-family: Arial, sans-serif;
  width: 90%; /* Ensure this is wide enough */
}

.post-box {
  background-color: white; 
  width: 55%; /* Define a specific width */
  padding: 2vh 2vw;
}
.post-title {
  font-size: 2vw;  
  color: var(--title-text-color);
  margin-bottom: 1vw;
}

.post-content {
  flex-wrap: wrap;  
  font-size: 1.5vw;
  line-height: 1.6;
  display: flex;     
  flex: 1;    
  justify-content: space-between;  
  align-items: center;  
  color: var(--title-text-color);
}

.post-date {
  font-size: 1.4vw;
  color: gray;
  margin-top: 2vw;
}
.post-text {
  flex: 1;   
  padding-right: 1vw;   
  word-wrap: break-word;  /* Add this line */
  overflow-wrap: break-word;  /* And this too */
}
.post-image {
  flex-shrink: 0; /* Prevents the image from shrinking */
  max-width: 40%; /* Adjust as needed */ 
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  overflow-y: auto;  
}

.modal-content {
  margin: 5% auto;
  padding: 2vw;
  width: 70%;
  background-color: #fff;
  border-radius: 1.2vw;  
  box-shadow: 0 0.4vw 2vw rgba(0,0,0,0.5);  
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 2vw;
  font-weight: bold;
  margin-top: -0.5em;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modalTitle {
  font-size: 2em;
  margin-bottom: 1em;
}

#modalImage {
  max-width: 100%;
  height: auto;
  ;
  margin-bottom: 1em;
}

#modalBody {
  font-size: 2em;
  margin-bottom: 1em;
}

#modalDate {
  font-size: 1em;
  color: #aaa;
}






