
.main-content {
    background-image: var(--main-content-bg-image);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--main-content-text-color);
  }
  
  .text-container {    
    margin-top: 35vh;
    margin-left: 4vw;
    font-family:SourceSansPro-Regular;
  }
  
  .text-container h1 {
    color: white;
    font-size: 4.5vw;
    line-height: 1.1;
    margin-bottom: 3vw;
  }
  
 
  .btn-secondary {  
    background-color: var( --btn-bg-color);
    color: var(--main-content-text-color);
    font-size: 1vw;
    padding: 1vw 3vw;
    margin-left: 1vw;
    text-decoration: none; 
    white-space: nowrap; /* Prevents the text inside the button from breaking into multiple lines */
    overflow: hidden; /* Hides the overflow text */
    text-overflow: ellipsis; /* Adds an ellipsis (...) to indicate the text is clipped */
    max-width: 100%; /* Makes sure the button doesn’t stretch beyond its parent container */
  
  }
  
  .btn-secondary:active,
  .btn-secondary:focus,
  .btn-secondary:hover {
    background-color: var(--btn-bg-hover-color);
  }
  
  .social-icons {
    position: fixed;
    bottom: 1%;
    right: 1%;
  }
  
  .social-icon-item {
    position: relative;
    display: inline-block;
    margin-right: 1.7vw;
  }
  
  
  
  