
body {
  background-color: rgba(157, 175, 194,0.05);
}
h1, h2, h3 {
  line-height: 1.15;
}
:root {
  --text-bg-color: rgba(100, 115, 130, 0.11);
  --title-text-color: rgba( 87, 101, 114);
  --content-text-color: rgba( 112, 115, 128  );
}





.top-margin {  
  margin-top: 2em;
  padding: 1em;
}

.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;  
}

.info-image {
  flex: 1;
  height: 77vh; 
  margin-left: 4vh;
  background-image: url('../png/ServicesPage/meetingpic.jpg');
  background-size: contain;
  background-repeat: no-repeat;  
  background-position: center;
}

.info-content {
  flex: 1;
  background-color: var(--text-bg-color);  
  color: rgb(0, 0, 0);
  padding: 5vh 20vw 5vh 10vw;
  margin-right: 4vh;
  display: flex;
  flex-direction: column;
  align-items: start;  
}

.info-content h1 {
  font-size: 4.5em;
  color: var(--title-text-color);
  font-family: Evolventa-Bold;
}

.info-content h2 {
  font-size: 2.5em;
  color: var(--title-text-color);
  font-family: Roboto-Regular;
}
.info-content p {
  font-size: 2.2em;
  color: var(--content-text-color);
}
.icon {
  color: var(--title-text-color);
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url('../png/ServicesPage/tick.png');
  padding-left: 3vw;  
  margin-left: -3vw;
}
 

.btn-read-more {  
  background-color: var( --btn-bg-color);
  color: var(--main-content-text-color);
  font-size: 1.5em;
  position: inherit;
  margin-top: 2.5%;
  margin-left: 5%;
  padding: 1em 3em;
  text-decoration: none; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 100%; 

}











.middle-section {
  background-image: url('../png/ServicesPage/background.png');
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 50vh 0; /* Adjusted padding */
}

.middle-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.middle-content h2 {
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 3em;
  color: white;
}

.middle-content p {
  font-size: 1.5em;
  padding-bottom: 4vh;
  color: white;
}
.white-boxes {
  display: flex;
  flex-direction: row;
}
.white-box {
  display: flex;
  background-color: white;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 2vw;
  margin-right: 2vw;
} 

.white-box img {
margin-left: 2vw;
  width: 80%;
}
.white-box h1{
  font-family: Roboto-Bold;
  font-size: 3em;
  color: var(--title-text-color);
 padding-bottom: 0.3em;
}
.white-box h2 {
  font-size: 1.2em;
  font-family: Roboto-Bold;
  color: var( --content-text-color);
  padding-bottom: 0.15em;
  padding-top: 0;
}
.white-box p { 
  font-size: 1em;
  font-family: Roboto-Regular;
  color: var( --content-text-color);
  padding-bottom: 1em;
 padding-top: 0;
}

















.testimonial-section {
  text-align: center;
  margin-top: 5vh;
}

.testimonial-box {
  background-color:var(--text-bg-color); 
  margin: 2vh auto;
  width: 60%;
  position: relative;
  padding: 7vh 5vw;
}

.testimonial-text {
  margin-bottom: 2vh;
  font-size: 2em;
  font-family: Roboto-Regular;
}

.testimonial-author {
  font-family: Roboto-BoldItalic;
  font-size: 1.5em;
  color: var(  --content-text-color);
}

.quote-top-left,
.quote-bottom-right {
  font-size: 10em;
  position: absolute;
}

.quote-top-left {
  top: 1%;
  left: 1%;
}

.quote-bottom-right {
  bottom: 1%;
  right: 1%;
}



.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px; 
  height: auto;  
}

.left-arrow {
  left: 3.2vw;  
}

.right-arrow {
  right: 3.2vw;  
}

.testimonial-section {
  position: relative;
  overflow: hidden;  
}
