* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto-Regular'
}
 

:root {
  --navbar-bg-color-home: rgba(17, 29, 39, 0.54);
  --navbar-bg-color-default: rgba(42, 55, 65, 1);
  --navbar-text-color: white;
  --navbar-text-active-color: rgba(198, 159, 135, 1);
  --btn-bg-color: rgba(100, 115, 130, 1.0);
  --btn-bg-hover-color: rgba(161, 176, 191, 1);
  --main-content-bg-image: url('../png/HomePage/HomeBackgroundImage.png');
  --main-content-text-color: white;
  --footer-bg-color: rgb(64, 77, 89);

  --title-font-size: 2.5vw;
  --subtitle-font-size:1.85vw;
  --text-font-size:1.2vw;
 
  --scrollbar-width-thin: 0.2vw;
  --scrollbar-width-expanded: 0.6vw;
  --scrollbar-color: #c1c1c1;  
  --scrollbar-hover-color: #a0a0a0;  
  --scrollbar-radius: 1vw;  
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: var(--scrollbar-radius);
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-radius);
  transition: background-color 0.3s ease;
}

/* Expanded scrollbar style */
.expanded-scrollbar ::-webkit-scrollbar {
  width: var(--scrollbar-width-expanded);
}

/* Set the default size of the scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width-thin);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}








@media screen and (min-width: 1200px) {

.custom-navbar {
  position: relative;
  z-index: 1000;
  background-color: var(--navbar-bg-color-default);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.2vw;
}
.custom-navbar.home {
  background-color: var(--navbar-bg-color-home);
}

.navbar-brand {
  color: var(--navbar-text-color);
  font-size: 2vw;
  margin-left: 2vh;
}


.navbar-nav {
  margin-top: 0.1vw;
  list-style: none;
  display: flex;
  padding: 0;
  margin-left: 22vw;

}

.nav-item {
  margin-left: 2vw;
  font-size: 1.69vw;
}

.nav-link {
  text-decoration: none;
  color: var(--navbar-text-color);
}

.nav-link:focus,
.nav-link.active {
  color: var(--navbar-text-active-color);
}

.nav-link:hover{
  color: rgb(187,175, 168);
}

.login-request {
  background-color: var( --btn-bg-color);
  color: var(--main-content-text-color);
  padding: 0vh 1vw;
  position: inherit;
  text-decoration: none;
  white-space: nowrap;  
  overflow: hidden; 
  text-overflow: ellipsis;  
  max-width: 100%; 
  border-radius: 0.7vw;
  line-height: 5vh;
  font-size: 1vw;
}


.btn-request {
  background-color: var( --btn-bg-color);
  color: var(--main-content-text-color);
  padding: 0vh 1vw;
  position: inherit;
  text-decoration: none;
  white-space: nowrap;  
  overflow: hidden; 
  text-overflow: ellipsis;  
  max-width: 100%; 
  border-radius: 0.7vw;
  line-height: 5vh;
  font-size: 1vw;
} 

.btn-request a {
margin-top: 1vw;
}
.btn-request:active,
.btn-request:focus,
.btn-request:hover {
  background-color: var(--btn-bg-hover-color);
}




#myBtn {
  display: none;  
  position: fixed; 
  bottom: 1.5vw;  
  right: 1.5vw;  
  z-index: 99;  
  border: none;  
  outline: none;  
  background-color:var(--navbar-bg-color-default);
  color: white;  
  cursor: pointer;  
  padding: 1vw; 
  border-radius: 1vw;  
  font-size: 1vw; 
}

#myBtn:hover {
  background-color: var(--btn-bg-hover-color);  

}


/*Footer*/





.container {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
  background-color:  var( --footer-bg-color);
  color: white;
  font-size: 1vw;
}

.company-info {
  margin-left: 3%;
  flex: 3;
} 

.company-info h2{
  font-family: Evolventa-Regular;
} 
.company-info p{
  font-family:SourceSansPro-Regular;
} 
.links {
  flex: 4;
  display: flex;
  text-decoration: none; 
  color: white;  
  justify-content: space-between;
}

.company, .contact {
  flex: 1;
}
.contact
{
  margin-top: 0.5vw;
}

.company ul {
  list-style-type: none;
  padding: 0;
}

.company li {
  margin: 0.5vw;
  text-decoration: none;
}

.company li:hover {
  text-decoration: underline;
}

.socials {
  display: flex;
}
.socials img{
  width:2.5vw;
  height:2.5vw;
}


ul li a {
  text-decoration: none;  
  color: white;  
}







/* Modal Styles */
.Quote-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.Quote-modal-content {
  position: fixed;
  background-color: #ffffff;
  margin: 0;
  top: 60px; /* Adjust this value to match the height of your navbar */
  right: 10px; /* Adjust this value for spacing from the right edge */
  padding: 0;
  border-radius: 0.8vw;
  box-shadow: 0 0.4vw 0.8vw 0 rgba(0,0,0,0.2);
  width: 20vw;
}

/* Header Styles */
.Quote-modal-header {
  background-color: var(--btn-bg-color); /* The background color of the header */
  color: white; /* Text color */
  padding: 1vw;
  border-top-left-radius: 0.8vw; /* Match the modal's border radius */
  border-top-right-radius: 0.8vw; /* Match the modal's border radius */
}

/* Close button styling */
.close {
  color: #aaa;
  position: absolute;
  top: 1vw;
  right: 1vw;
  font-size: 2vw;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form Styles */
#quoteForm {
  padding: 2vw;
}

#quoteForm h2 {
  display: none; /* Hide the original title as it's now in the modal-header */
}

#quoteForm h1 
{
  color: var(--btn-bg-color);
  font-family: Roboto-Regular;
  font-size: 1.5vw;
}
#quoteForm input[type=text],
#quoteForm input[type=email],
#quoteForm textarea {
  width:100%;
  padding: 1vw;
  margin-bottom: 2vw;
  border: 0.1vw solid #ccc;
  border-radius: 0.4vw;
}

#quoteForm button {
  width:100%;
  padding: 1vw;
  background-color: var(--btn-bg-color);
  color: white;
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;
  font-size: 1.8vw;
}

#quoteForm button:hover {
  background-color: var(--btn-bg-hover-color);
}







}



@media screen and (max-width: 1200px) {
  .custom-navbar {
    position: relative;
    z-index: 1000;
    background-color: var(--navbar-bg-color-default);
    display: flex;
    flex-direction: row;  
    justify-content: space-between;  
    align-items: center;  
    width: 100%;
    padding: 2vw;  
  }
  
  .custom-navbar.home {
    background-color: var(--navbar-bg-color-home);
  }
  
  .navbar-brand {
    color: var(--navbar-text-color);
    font-size:3vw;
    margin-right: 2vw;  
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: 2vw;
    gap: 2vw; 
  }
  
  .nav-item {
    margin: 0 1vw;  
    font-size: 3vw;  
  }
  
  .nav-link {
    text-decoration: none;
    color: var(--navbar-text-color);
  }
  
  .nav-link:focus,
  .nav-link.active {
    color: var(--navbar-text-active-color);
  }
  
  .nav-link:hover {
    color: rgb(187,175, 168);
  }
  
  .btn-request, .login-request {
    background-color: var(--btn-bg-color);
    color: var(--main-content-text-color);
    padding: 0.5vw 1vw;  
    margin-left: 2vw;  
    position: relative;
    text-decoration: none;
    max-width: 100%;
    min-width: 20vw;  
    border-radius: 0.5vw;
    font-size: 2.3vw;  
  }
  
  .btn-request a {
    margin-top: 1vw;
  }
  
  .btn-request:active,
  .btn-request:focus,
  .btn-request:hover {
    background-color: var(--btn-bg-hover-color);
  }



  #myBtn {
    display: none;
    position: fixed;
    bottom: 2vw;  
    right: 2vw; 
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--navbar-bg-color-home);
    color: white;
    cursor: pointer;
    padding: 3vw;  
    border-radius: 1vw; 
    font-size: 3vw;  
  }

  #myBtn:hover {
    background-color: rgba(98, 138, 168, 0.69);
  }



  .container {
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    background-color:  var( --footer-bg-color);
    color: white;
    font-size: 1vw;
  }
  
  .company-info {
    margin-left: 3%;
    flex: 3;
  } 
  
  .company-info h2{
    font-family: Evolventa-Regular;
  } 
  .company-info p{
    font-family:SourceSansPro-Regular;
  } 
  .links {
    flex: 4;
    display: flex;
    
    text-decoration: none; 
    color: white;  
    justify-content: space-between;
  }
  
  .company, .contact {
    flex: 1;
  }
  
  .company ul {
    list-style-type: none;
    padding: 0;
  }
  
  .company li {
    margin: 0.5vw;
    text-decoration: none;
  }
  
  .company li:hover {
    text-decoration: underline;
  }
  
  .socials {
    display: flex;
  }
  .socials img{
    
    width:2.5vw;
    height:2.5vw;
  }
  
  
  ul li a {
    text-decoration: none;  
    color: white;  
  }














  


/* Modal Styles */
.Quote-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.Quote-modal-content {
  position: fixed;
  background-color: #ffffff;
  margin: 0;
  top: 60px; /* Adjust this value to match the height of your navbar */
  right: 10px; /* Adjust this value for spacing from the right edge */
  padding: 0;
  border-radius: 0.8vw;
  box-shadow: 0 0.4vw 0.8vw 0 rgba(0,0,0,0.2);
  width: 20vw;
}

/* Header Styles */
.Quote-modal-header {
  background-color: var(--btn-bg-color); /* The background color of the header */
  color: white; /* Text color */
  padding: 1vw;
  border-top-left-radius: 0.8vw; /* Match the modal's border radius */
  border-top-right-radius: 0.8vw; /* Match the modal's border radius */
}

/* Close button styling */
.close {
  color: #aaa;
  position: absolute;
  top: 1vw;
  right: 1vw;
  font-size: 2vw;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form Styles */
#quoteForm {
  padding: 2vw;
}

#quoteForm h2 {
  display: none; /* Hide the original title as it's now in the modal-header */
}

#quoteForm h1 
{
  color: var(--btn-bg-color);
  font-family: Roboto-Regular;
  font-size: 1.5vw;
}
#quoteForm input[type=text],
#quoteForm input[type=email],
#quoteForm textarea {
  width:100%;
  padding: 1vw;
  margin-bottom: 2vw;
  border: 0.1vw solid #ccc;
  border-radius: 0.4vw;
}

#quoteForm button {
  width:100%;
  padding: 1vw;
  background-color: var(--btn-bg-color);
  color: white;
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;
  font-size: 1.8vw;
}

#quoteForm button:hover {
  background-color: var(--btn-bg-hover-color);
}

}