* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto-Regular'
}




:root {
  --navbar-bg-color-home: rgba(17, 29, 39, 0.54);
  --navbar-bg-color-default: rgba(42, 55, 65, 1);
  --navbar-text-color: white;
  --navbar-text-active-color: rgba(198, 159, 135, 1);
  --btn-bg-color: rgba(100, 115, 130, 1.0);
  --btn-bg-hover-color: rgba(161, 176, 191, 1);
  --main-content-bg-image: url('../png/HomePage/HomeBackgroundImage.png');
  --main-content-text-color: white;
}

.custom-navbar {
  position: relative;
  z-index: 1000;
  background-color: var(--navbar-bg-color-default);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5em;
}
.custom-navbar.home {
  background-color: var(--navbar-bg-color-home);
}

.navbar-brand {
  color: var(--navbar-text-color);
  font-size: 2em;
  margin-left: 2vh;
}


.navbar-nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 2em;
  font-size: 1.69em;
}

.nav-link {
  text-decoration: none;
  color: var(--navbar-text-color);
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: var(--navbar-text-active-color);
}


.btn-request {
  background-color: var( --btn-bg-color);
  color: var(--main-content-text-color);
  padding: 0.5em 1.5em;
  position: inherit;
  text-decoration: none;
  white-space: nowrap; /* Prevents the text inside the button from breaking into multiple lines */
  overflow: hidden; /* Hides the overflow text */
  text-overflow: ellipsis; /* Adds an ellipsis (...) to indicate the text is clipped */
  max-width: 100%; /* Makes sure the button doesn’t stretch beyond its parent container */

}
.btn-request:active,
.btn-request:focus,
.btn-request:hover {
  background-color: var(--btn-bg-hover-color);
}

.main-content {
  background-image: var(--main-content-bg-image);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--main-content-text-color);
}

.text-container {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.text-container h1 {
  color: white;
  font-size: 7em;
}

.btn-secondary {  
  background-color: var( --btn-bg-color);
  color: var(--main-content-text-color);
  font-size: 2.3em;
  position: inherit;
  margin-top: 2.5%;
  margin-left: 5%;
  padding: 0.5em 1.5em;
  text-decoration: none; 
  white-space: nowrap; /* Prevents the text inside the button from breaking into multiple lines */
  overflow: hidden; /* Hides the overflow text */
  text-overflow: ellipsis; /* Adds an ellipsis (...) to indicate the text is clipped */
  max-width: 100%; /* Makes sure the button doesn’t stretch beyond its parent container */

}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: var(--btn-bg-hover-color);
}

.social-icons {
  position: fixed;
  bottom: 1%;
  right: 1%;
}

.social-icon-item {
  position: relative;
  display: inline-block;
  margin-right: 1.7em;
}













