* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto-Regular'
}




:root {
  --navbar-bg-color-home: rgba(17, 29, 39, 0.54);
  --navbar-bg-color-default: rgba(42, 55, 65, 1);
  --navbar-text-color: white;
  --navbar-text-active-color: rgba(198, 159, 135, 1);
  --btn-bg-color: rgba(100, 115, 130, 1.0);
  --btn-bg-hover-color: rgba(161, 176, 191, 1);
  --main-content-bg-image: url('../png/HomePage/HomeBackgroundImage.png');
  --main-content-text-color: white;
}

.custom-navbar {
  position: relative;
  z-index: 1000;
  background-color: var(--navbar-bg-color-default);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.2em;
}
.custom-navbar.home {
  background-color: var(--navbar-bg-color-home);
}

.navbar-brand {
  color: var(--navbar-text-color);
  font-size: 2em;
  margin-left: 2vh;
}


.navbar-nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 2em;
  font-size: 1.69em;
}

.nav-link {
  text-decoration: none;
  color: var(--navbar-text-color);
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.nav-link.active {
  color: var(--navbar-text-active-color);
}



.btn-request {
  background-color: var( --btn-bg-color);
  color: var(--main-content-text-color);
  padding: 0.5em 1.5em;
  position: inherit;
  text-decoration: none;
  white-space: nowrap; /* Prevents the text inside the button from breaking into multiple lines */
  overflow: hidden; /* Hides the overflow text */
  text-overflow: ellipsis; /* Adds an ellipsis (...) to indicate the text is clipped */
  max-width: 100%; /* Makes sure the button doesn’t stretch beyond its parent container */

}
.btn-request:active,
.btn-request:focus,
.btn-request:hover {
  background-color: var(--btn-bg-hover-color);
}



/*Footer*/















.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #2d3947;
  color: white;
}

.company-info {
  margin-left: 3%;
  flex: 3;
} 

.links {
  flex: 4;
  display: flex;
  
  text-decoration: none; 
  color: white;  
  justify-content: space-between;
}

.company, .contact {
  flex: 1;
}

.company ul {
  list-style-type: none;
  padding: 0;
}

.company li {
  margin: 0.5vw;
}

.socials {
  display: flex;
  gap: 1vw;
}


ul li a {
  text-decoration: none;  
  color: white;  
}




