@font-face {
	font-family: Evolventa-Bold;
	src: local("Evolventa"), url("../fonts/Evolventa-Bold.woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Evolventa-Regular;
	src: local("Evolventa"), url("../fonts/Evolventa-Regular.otf");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: Roboto-Bold;
	src: local("Roboto"), url("../fonts/Roboto-Bold.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:Roboto-BoldItalic;
	src: local("Roboto"), url("../fonts/Roboto-BoldItalic.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Roboto-Regular;
	src: local("Roboto"), url("../fonts/Roboto-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: SourceSansPro-Regular;
	src: local("SourceSansPro"), url("../fonts/SourceSansPro-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}